{% extends 'baseLogin.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
        }

        form {
            max-width: 330px;
            padding: 15px;
            margin: auto;
            margin-top: 100px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        label {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            color: #555;
        }

        input.form-control {
            margin-bottom: 10px;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary, .btn-primary-link {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #007bff;
            border: none;
            color: white;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 10px;
        }

        .btn-primary:hover, .btn-primary-link:hover {
            background-color: #0056b3;
        }

        /* Alignement des boutons */
        button.btn-primary {
            margin-bottom: 10px;
        }

        .alert-danger {
            background-color: #f8d7da;
            color: #721c24;
            border-color: #f5c6cb;
            padding: 10px;
            border-radius: 4px;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <form method="post">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1>Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <!-- Bouton Register -->
        <button type="submit" class="btn btn-primary">Register</button>
        {{ form_end(registrationForm) }}

        <!-- Bouton pour aller au login avec une bonne taille et style cohérent -->
        <a href="{{ path('app_login') }}" class="btn-primary-link">
            Already have an account? Log in
        </a>
    </form>
{% endblock %}
