<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Spotify{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="/img/spotify.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body {
        display: flex;
        background-color: #131313;
    }

    #sidebar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 15vw;
        color: white;
    }

    #content {
        width: 85vw;
        height: 92vh;
    }

    #top {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 85vw;
        height: 8vh;
        color: white;
    }

    #account-button {
        background-color: white;
        color: black;
        border: none;
        border-radius: 20px;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        height: 50%;
        margin-right: 50px;
        padding: 10px 10px 10px 10px;
        text-transform: none;
    }

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 20px;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 15px 20px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 5px;
    }

    a:hover {
        color: white;
    }

    #sidebar img{
        margin-top: 20px;
    }

    #sidebar h2{
        margin-bottom: 100px;
    }

</style>

<body>
<div id="sidebar">
    <img src="/img/logo_remove.png" alt="Spotify" width="100px">
    <h2>Spotify</h2>
    <ul>
        <li><a href={{ path('app_track_index') }}>Recherche Titre</a></li>
        <li><a href={{ path('app_artist_artistes') }}>Recherche Artistes</a></li>
        {% if app.user %}
            <li><a href={{ path('app_artist_fav') }}>Favoris Artistes</a></li>
            <li><a href={{ path('app_favorites') }}>Favoris Musique</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    <div id="top">
        {% if app.user %}
            <a href="{{ path('app_logout') }}" id="account-button" class="flex">{{ app.user.email }}</a>
        {% else %}
            <a href="{{ path('app_login') }}" id="account-button" class="flex">Se connecter</a>
        {% endif %}

    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>